
<% content_for :title, "Posts" %>

<h1 class="heading">Posts</h1>

<div id="posts">
    <% if @posts.length == 0 %>
        <div class="center"> 
            <p >No post found</p>
            <button> 
             <%= link_to "New post", new_post_path %>
            </button>
        </div>
    <% else %>
    <div class="post-div"> 
      <% @posts.each do |post| %>
        <div> 
            <%= render post %>  
        </div>
      <% end %>
    </div>
    <div class="align">
        <%= link_to "Create new post", new_post_path, class: "btn"  %>
    </div>
    <% end %>
</div>


